.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.nav > li {
  float: left;
  line-height: 24px;
}

.nav > li + li:before {
  content: '|';
  margin: 0 0.5em;
  color: #888;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  position: relative;
  min-height: 750px;
  height: 100vh;
  min-width: 1100px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

header {
  padding: 40px;
}

header h1 img {
  height: 24px;
}

.navbar-toggle .sr-only {
  display: none;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #333;
}

.bigger {
  font-size: 1.333em;
}

.main-content {
  padding-left: 8%;
  padding-right: 600px;
}

.main-content h2 {
  margin-top: 120px;
  margin-bottom: 20px;
  line-height: 1.3;
  min-height: 2.6em;
}

.main-content p {
  line-height: 1.8;
  color: #888;
}

.circle-bg-img {
  position: absolute;
  right: -130px;
  bottom: 0;
  width: 760px;
  height: 572px;
  overflow: hidden;
}

.circle-bg-img img {
  -webkit-transition: transform 2s;
       -o-transition: transform 2s;
          transition: transform 2s;
}

.circle-bg-img .circle-img-top {
  position: absolute;
  top: 0;
}

.phone-img {
  width: 300px;
  position: absolute;
  right: 100px;
  bottom: 40px;
  border-radius: 40px;
  box-shadow: 0 15px 25px rgba(0,0,0,.13);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
       -o-transition: opacity 0.2s;
          transition: opacity 0.2s;    
}

.phone-img.bg-active {
  opacity: 100;
}

.phone-img.active {
  opacity: 100;
  -webkit-transition: opacity 2s;
       -o-transition: opacity 2s;
          transition: opacity 2s;    
}

.downloads {
  padding-top: 80px;
  padding-bottom: 80px;
}

.downloads img {
  width: 150px;
}

.downloads a + a {
  margin-left: 30px;
}

.pages {
  position: relative;
  max-width: 500px;
}

.page {
  opacity: 0;
  padding-top: 1px;
  -webkit-transition: opacity 0.2s;
       -o-transition: opacity 0.2s;
          transition: opacity 0.2s;
}

.page + .page {
  position: absolute;
  top: 0;
}

.page.active {
  opacity: 100;
  -webkit-transition: opacity 2s;
       -o-transition: opacity 2s;
          transition: opacity 2s;  
}

.carousel-indicators {
  list-style: none;
  position: fixed;
  right: 30px;
  top: calc(50% - 70px);
  z-index: 1;
}

.carousel-indicators > li {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFF;
  margin: 10px 0;
  cursor: pointer;
}

.carousel-indicators > li.active {
  background-color: rgba(0,0,0,.3);
  box-shadow: 0 0 0 1px rgba(0,0,0,.3);
}

@media screen and (max-width: 480px) {
  body {
    min-width: 0;
    min-height: 0;
    height: cal(100vh + 1px);
  }
  header {
    padding: 5% 6%;
  }

  header h1 img {
    height: 18px;
  }
  header .nav {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;  
  }

  header .nav.collapse-in {
    height: 34px;
    clear: left;
    padding-top: 10px;
  }

  .navbar-toggle {
    padding: 2px;
  }

  .navbar-toggle:focus .icon-bar {
    border-color: #333;
  }

  .navbar-toggle .icon-bar {
    border-top: 2px solid #888;
    width: 15px;
    display: block;
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  h2 {
    font-size: 24px;
  }

  .bigger {
    font-size: 1em;
  }

  .main-content {
    padding: 0 0 40px;
  }
  .main-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 0;
  }

  .images {
    position: relative;
  }

  .circle-bg-img {
    right: 0;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 116px;
    margin-bottom: 30px;
  }

  .circle-bg-img img {
    max-width: none;
    width: 152%;
    margin-left: -26%;
  }

  .phone-img {
    width: 60%;
    right: 0;
    left: 0;
    top: -14%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
  }

  .pages {
    padding-left: 6%;
    width: 88%;
  }

  .page p {
    line-height: 1.5;
  }

  #page_1 p {
    display: none;
  }

  .downloads {
    padding: 0;
    text-align: center;
  }

  .downloads img {
    width: 32%;
  }

  .downloads a + a {
    margin-left: 20px;
  }


  .carousel-indicators {
    position: initial;
    text-align: center;
    margin-top: 30px;
  }

  .carousel-indicators > li {
    width: 3px;
    height: 3px;
    display: inline-block;
    margin: 0 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
  }
}
